<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Macros</title>
</head>
<body>
    {% macro user_greeting(user) %}
      {% if not user %}
            <h3></h3>
        {% else %}
            <h3>Hello {{ user.username|capitalize }}</h3>
        {% endif %}
    {% endmacro %}

    {% macro auth_buttons(user) %}
        {% if user %}
            <!-- Logout Button -->
            <form action="/users/logout" method="post" style="display:inline;">
                <button type="submit" class="btn btn-outline-primary">Logout</button>
            </form>
        {% else %}
            <!-- Login and Register Buttons -->
            <a href="/users/login" class="btn btn-outline-primary">Login</a>
            <a href="/users/register" class="btn btn-outline-secondary">Register</a>
        {% endif %}
    {% endmacro %}

    {% macro is_admin(user, category_id=None) %}
        {% if user.role == 2 %}
            <form action="/create/new_category" method="get">
                <button type="submit" class="btn btn-outline-primary">Create Category</button>
            </form>
            {% if category_id %}
                <form action="/categories/{{ category_id }}?action=delete" method="post">
                    <button type="submit" class="btn btn-outline-danger">Delete Category</button>
                </form>
            {% endif %}
        {% else %}
            <h6></h6>
        {% endif %}
    {% endmacro %}

    {% macro is_authenticated(user, topic_id=None) %}
        {% if user %}
            <form action="/create/new_topic" method="get">
                <button type="submit" class="btn btn-outline-primary">Create Topic</button>
            </form>
            {% if user.id == topic.user_id %}
                <form action="/topics/{{ topic_id }}?action=delete" method="post">
                    <button type="submit" class="btn btn-outline-danger">Delete Topic</button>
                </form>
            {% endif %}
        {% else %}
            <h6></h6>
        {% endif %}
    {% endmacro %}
</body>
</html>