<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Macros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" rel="script">
</head>
<body>
    {% macro user_greeting(user) %}
      {% if not user %}
            <h3></h3>
        {% else %}
            <h3>Hello {{ user.username|capitalize }}</h3>
        {% endif %}
    {% endmacro %}

    {% macro auth_buttons(user) %}
        {% if user %}
            <!-- Logout Button -->
            <form action="/users/logout" method="post" style="display:inline;">
                <button type="submit" class="btn btn-outline-primary">Logout</button>
            </form>
        {% else %}
            <!-- Login and Register Buttons -->
            <a href="/users/login" class="btn btn-outline-primary">Login</a>
            <a href="/users/register" class="btn btn-outline-secondary">Register</a>
        {% endif %}
    {% endmacro %}

    {% macro is_admin(user, category_id=None) %}
        {% if user.role == 2 %}
            <form action="/create/new_category" method="get">
                <button type="submit" class="btn btn-outline-primary">Create Category</button>
            </form>
            {% if category_id %}
                <form action="/categories/{{ category_id }}?action=delete" method="post">
                    <button type="submit" class="btn btn-outline-danger">Delete Category</button>
                </form>
            {% endif %}
        {% else %}
            <h6></h6>
        {% endif %}
    {% endmacro %}

    {% macro is_authenticated(user, topic=None) %}
        {% if user %}
            <form action="/create/new_topic" method="get">
                <button type="submit" class="btn btn-outline-primary">Create Topic</button>
            </form>
            {% if topic and user.id == topic.user_id %}
                <form action="/topics/{{ topic.topic_id }}?action=delete" method="post">
                    <button type="submit" class="btn btn-outline-danger">Delete Topic</button>
                </form>
            {% endif %}
        {% else %}
            <h6>Please log in to create or manage topics.</h6>
        {% endif %}
    {% endmacro %}

    {% macro list_categories(categories, category_name=None) %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" id="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select Category
            </button>
            <ul class="dropdown-menu">
                {% for category in categories %}
                    <li>
                        <a class="dropdown-item" href="#category.category_id" data-value=
                        "{{ category.category_id }}">
                            {{ category.category_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <input type="hidden" name="category_id" id="selected-category-id">
        </div>
    {% endmacro %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function displaySelectedValue() {
            const dropdown = document.getElementById('dropdown');
            const selectedValue = dropdown.value;

            document.getElementById('selected-value').textContent = selectedValue || 'None';
        }
</script>
</body>
</html>